<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InputFolder" value="C:\Users\MADHU\source\repos\Brady\GeneratorSummaryApp\GeneratorSummaryApp\Data\Inputs" />
		<add key="OutputFolder" value="C:\Users\MADHU\source\repos\Brady\GeneratorSummaryApp\GeneratorSummaryApp\Data\Outputs" />
	</appSettings>
</configuration>